<nav>
            <h2 class="logo">Mellow <span>Swells</span></h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/release">Media</a></li>
                <li><a href="/about">About</a></li>
                <!-- <li><a href="/contact">Contact</a></li> -->
            </ul>
            <button type="button">Contact Us</button>
</nav>