:root {
    --color-button-primary: #c03621;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.01)),url(../assets/boy-in-water-min.png);
    background-size: cover;
    background-position: center;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
    text-transform: uppercase;
}

span {
    color: #c03621;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px black;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 7px 13px;
    border-bottom:5px solid transparent;
}

nav ul li a:hover {
    color: #fff;
    border-bottom: 5px solid #c03621; 
    transition: all 400ms ease-in-out;
}

button {
    border: none;
    background: var(--color-button-primary);
    text-transform: uppercase;
    padding: 12px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: .4s;
}

button:hover {
    transform: scale(1.05);
}

/* Events */

/* .container {
    width: 100%;
    height: 100vh;
    
   
} */



/* For screens smaller than 768px */
@media (max-width: 767px) {
    nav {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    .logo {
      font-size: 24px;
    }
    
    nav ul {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
    
    nav ul li {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
    
    nav ul li a {
      padding: 10px;
      border-bottom: none;
      display: block;
    }
    
    button {
      display: block;
      margin: 20px auto 0;
    }
  }
  
  /* For screens larger than 768px */
  @media (min-width: 768px) {
    nav {
      padding-top: 40px;
      padding-left: 10%;
      padding-right: 10%;
    }
    
    .logo {
      font-size: 28px;
    }
    
    nav ul {
      display: flex;
    }
    
    nav ul li {
      margin-left: 20px;
    }
    
    nav ul li:first-child {
      margin-left: 0;
    }
    
    nav ul li a {
      padding: 7px 13px;
    }
    
    button {
      margin-left: 20px;
    }
  }
  