---
title: 'Mellow Swells | Events'
layout: 'base.njk' 
---


    {% include 'nav.njk'  %}

   
    
   <div class="event-page-title">
      <h1 class="page-title">Upcoming Events</h1>
   </div>

    <div class="wrapper">
  
  
    <div class="container">
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>2<span>nd</span></h2>
              <h3>March</h3>
              <p class="venue">Pinhook Durham, NC</p>
              <p>New Album Release Show "ARMS"</p>
              <a href="#">Tickets</a>
            </div>
          </div>
        </div>
        
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>4<span>th</span></h2>
              <h3>March</h3>
              <p class="venue">Flat Iron Durham, NC</p>
              <p>Ages 18 and up are<br> welcome!</p>
              <a href="https://www.etix.com/ticket/p/5614453/french-cassettes-wmellow-swells-greensboro-flat-iron?partner_id=240">Tickets</a>
            </div>
          </div>
        </div>
        
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>24<span>th</span></h2>
              <h3>March</h3>
              <p class="venue">WUAG Festival Durham, NC</p>
              <p>Record Release Show! New Album "ARMS"</p>
              <a href="#">Tickets</a>
            </div>
          </div>
        </div>
        

         <div class="card">
          <div class="box">
            <div class="content">
              <h2>25<span>th</span></h2>
              <h3>March</h3>
              <p class="venue">Bond Brothers Cary, NC</p>
              <p>Record Release Show! New Album "ARMS" </p>
              <a href="#">Tickets</a>
            </div>
          </div>
        </div>
       </div>
      </div> 
     

